## C / C++
*.a
*.o
*.so
*.out
zappy_gui
zappy_gui_bonus
zappy_server

## Python
.venv
__pycache__
zappy_ai
!ai/zappy_ai
test*

## Cache & other
.cache
compile_commands.json
*.tmp
subject/zappy_ref

## Debug files
debug
*vgcore*
